#Required packages that will be needed
#Loading necessary libraries below.  
#If you do not have the libraries installed on your machine you will need to install them by using
#in your terminal.


 pip install pandas as pd
 pip install numpy as np
 pip install matplotlib.pyplot as plt
 pip install jupyter
 Python 3.10.4



  