#Required packages that will be needed
#Loading necessary libraries below.  
#If you do not have the libraries installed on your machine you will need to install them by using
#in your terminal.


Python 3.10.4
 pip install pandas 
 pip install numpy 
 pip install matplotlib.pyplot 
 pip install notebook
 



  